.playerCard{

    width: 100%;
    height: fit-content;
    line-height: 1.5;
    font-size: 20px;
    padding: 5px;
    text-align: center;

    
}

#players{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 50px;
    justify-content: center;
    
}
#players{
    position: relative;
    bottom: 70px;
}
#key{
    font-size: 50px;
    
}
#p1{
    position: relative;
    right: 180px;
    top: -10px;
}
#p2{
    position: relative;
    left: 180px;
    bottom: 70px;
}
#btt{
    background-color: green;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
#btt{
    position: relative;
    bottom: 50px;
}
#bnt{
    position: relative;
    bottom: 50px;
}
#bnt{
    background-color: skyblue;
    width: 200px;
    height: 30px; 
    border-radius: 10px;
    padding: 5px;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

*{
    box-sizing: border-box;
}

.item{
    border: 2px solid gray;
}